.app {
  font-family: sans-serif;
  text-align: center;
}

.flexContainer {
  border: 1px solid #666;
  margin-bottom: 2rem;
  height: 20rem;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  padding: 1rem;
}

.item-1 {
  background-color: #2a80b9;
}

.item-3 {
  background-color: #8f44ad;
}

.item-2 {
  background-color: #16a086;
}

.item-4 {
  background-color: #f1c40f;
}

.item-5 {
  background-color: #e77e23;
}

.radioWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.numberBox {
  width: 3rem;
}

.propertyName {
  display: flex;
  flex-basis: 21%;
  text-align: left;
}

.item {
  margin-bottom: 0.4rem;
}
